@import '../../../assets/colors.scss';

.health {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 2.5px;
    margin-right: 2.5px;
    &.full {
        background-color: $health-full-color;
    }
    &.empty {
        background-color: $health-empty-color;
    }
}