@import 'colors.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.letter {
    color: black;
    background-color: $letter-hidden-color;
    border: none;
    border-radius: 7.5px;
    font-size: 30pt;
    text-align: center;
    font-family: 'Roboto Mono';
    padding: 10px;
    display: inline-block;
    margin: 2.5px;
    outline: none;
    transition: background-color 0.2s;
    &.found {
        background-color: $letter-found-color;
    }
    &:enabled {
        cursor: pointer;
        &:hover {
            background-color: $letter-found-color;
        }
        &:active {
            background-color: white;
        }
    }
    &:disabled {
        background-color: $letter-disabled-color;
    }
}