@import '../assets/colors.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.app-container {
    width: calc(80vw - 16px);
    height: calc(80vh - 16px);
    padding: 10vh 10vw;
}
