@import '../../../assets/colors.scss';

.victory-text {
    font-size: 11pt;
    font-family: 'Roboto Mono';
    animation: 500ms linear infinite running victoryTextAnimation;
}

@keyframes victoryTextAnimation {
    0% { color: black; }
    29% { color: black; }
    30% { color: $letter-found-color; }
    69% { color: $letter-found-color; }
    70% { color: $health-empty-color; }
    100% { color: $health-empty-color; }
  }
