<div fxLayout="fxLayoutGap" fxLayoutAlign="center" *ngIf="(isGameOn | async ); else winBlock">
    <div *ngIf=" (health | async) > 0; else looseBlock ">
        <button class="letter"
            *ngFor="let letter of availableLetters" 
            [disabled]="(submittedLetters | async).includes(letter)" 
            (click)="submitLetter(letter)">
            {{ letter }}
        </button>
    </div>
    <ng-template #looseBlock>
        <lose-message></lose-message>
    </ng-template>    
</div>
<ng-template #winBlock>
    <win-message></win-message>
</ng-template>